.home-main-section {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    flex-grow: 1;

}

.home-main-section .img-wrapper {
    flex-grow: 1;
    flex-direction: column;
    display: flex;
    align-items: stretch;
    justify-content: flex-end;
}


.home-main-section .foto {
    position: absolute;
    width: 468px;
    height: 850px;
    left: 57px;
    top: 178px;

    background: url(https://ibb.co/QmNGCLZ);
    border-radius: 22px;
}