@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet');

*, *::before, *::after {after
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    background-color: #315994;
    font-family: Roboto, sans-serif;
    font-size: 1.2rem;
}

.first {
    position: absolute;
    width: 1920px;
    height: 80px;
    left: 14px;
    top: 25px;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 96px;
    line-height: 112px;
    text-align: center;

    color: #FFFFFF;


}

.tulisan {
    position: absolute;
    width: 1335px;
    height: 288px;
    left: 563px;
    top: 337px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 41px;
    line-height: 48px;
    text-align: center;

    color: #FFFFFF;
}



.foto {
    position: absolute;
    width: 468px;
    height: 850px;
    left: 57px;
    top: 178px;

    background: url(IMG_1934.JPG);
    border-radius: 22px;
}

.instagram {
    position: absolute;
    width: 100px;
    height: 100px;
    left: 882px;
    top: 736px;

    background: url(instagram-logos-png-images-free-download-2.png);

}

.twitter {
    position: absolute;
    width: 114px;
    height: 100px;
    left: 1058px;
    top: 736px;

    background: url(twitter_PNG28.png);
}

.steam {
    position: absolute;
    width: 88px;
    height: 90px;
    left: 1248px;
    top: 741px;

    background: url(steam-icon-19.png);
}

.youtube {
    position: absolute;
    width: 212px;
    height: 165px;
    left: 1376px;
    top: 703px;

    background: url(youtube_PNG15.png);
}